services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: buma
      POSTGRES_PASSWORD: buma
      POSTGRES_DB: buma
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
        test: ["CMD-SHELL", "pg_isready -U buma -d buma"]
        interval: 5s
        timeout: 5s
        retries: 10

volumes:
  postgres_data: